<div class="main">
  <div class="container">
    <div class="header">
      <h1>
        Breathe free air my friend
      </h1>
      <h3>
        Check out the air quality in your area.
      </h3>
      <button class="btn">Get Started</button>

      <img class="notice" src="https://www.nhpr.org/sites/nhpr/files/styles/medium/public/201907/EPALogo.png"
           width="5%">
      <span class="notice"> We support the Clean Air Act!</span>
    </div>
    <div class="body">
      <app-map></app-map>
    </div>
    <div class="tempChart">
      Temp chart
      <!--<iframe src="http://localhost:3000/d-solo/uj2YVbsGk/vapnareg?orgId=1&panelId=2" width="450" height="200" frameborder="0"></iframe>-->
    </div>
    <div class="humidityChart">
      Humidity chart
      <!--<iframe src="http://localhost:3000/d-solo/uj2YVbsGk/vapnareg?orgId=1&panelId=4" width="450" height="200" frameborder="0"></iframe>-->
    </div>
    <div class="airPressureChart">
      Air Pressure Chart
      <!--<iframe src="http://localhost:3000/d-solo/uj2YVbsGk/vapnareg?orgId=1&panelId=6" width="450" height="200" frameborder="0"></iframe>-->
    </div>
    <div class="particularDensityChart">
      Particular Density Chart
    </div>
  </div>
</div>
