h4 {
  font-size: 1rem;
  line-height: 1.2rem;
  font-weight: 300;
}

h3 {
  font-size: 1.5rem;
  line-height: 1.2rem;
  font-weight: 400;
}

h1 {
  font-family: "Google Sans", sans-serif;
  color: #f6f7f8;
  font-size: 2.3rem;
  line-height: 1.9rem;
  font-weight: 500;
}

/* MOBILE */
@media screen and (min-width: 100px) {
  .container {
    max-width: 100%;
  }

  .body {
    height: 18rem;
  }

  .header {
    margin: 1rem;
  }
  .tempChart{
    width: 450px;
    height: 200px;
  }

  .humidityChart{
    width: 450px;
    height: 200px;
  }

  .airPressureChart{
    width: 450px;
    height: 200px;
  }
  .particleDensity{
    width: 450px;
    height: 200px;
  }
}


/* Small laptop */
@media screen and (min-width: 800px) {
  .container {
    max-width: 100%;
  }

  .header {
    margin: 1rem;
  }

  .body {
    height: 35rem;
  }

  .tempChart{
    width: 550px;
    height: 200px;
  }

  .humidityChart{
    width: 550px;
    height: 200px;
  }

  .airPressureChart{
    width: 550px;
    height: 200px;
  }
  .particleDensity{
    width: 550px;
    height: 200px;
  }
}

/* 1080p */
@media screen and (min-width: 1680px) {
  .container {
    max-width: 95%;
  }

  .header {
    margin: 1rem;
  }

  .body {
    height: 37rem;
  }

  .tempChart{
    width: 25%;
    height: 200px;
  }

  .humidityChart{
    width: 25%;
    height: 200px;
  }

  .airPressureChart{
    width: 25%;
    height: 200px;
  }
  .particleDensity{
    width: 25%;
    height: 200px;
  }
}

/* 1440p */
@media screen and (min-width: 1921px) {
  .container {
    max-width: 80%;
  }

  .header {
    margin: 2rem;
  }

  .body {
    height: 50em;
  }

.tempChart{
  width: 25%;
  height: 225px;
}

.humidityChart{
  width: 25%;
  height: 225px;
}

.airPressureChart{
  width: 25%;
  height: 225px;
}
.particleDensity{
  width: 25%;
  height: 225px;
}

}


.main {
  color: #f6f7f8;
  width: 100%;
}

.container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.header {
  order: 1;
  width: 100%;
}

.notice {
  margin-top: 1em;
  float: right;
}

.pad-0 {
  margin: 0;
}

.body {
  width: 100%;
  order: 2;
  margin-bottom: .2em;
}




.tempChart {
  order: 3;
  padding: .5em;
  overflow: auto;
}

.humidityChart {
  order: 4;
  padding: .5em;
  overflow: auto;
}

.airPressureChart {
  order: 5;
  padding: .5em;
  overflow: auto;
}

.particleDensity {
  order: 6;
  padding: .5em;
  overflow: auto;
}
