<div class="main">
  <div class="container">

    <div class="header">
      <h1>
        Breathe the free air my friend
      </h1>
      <h3>
        Check out the air quality in your area.
      </h3>
      <h4>
        Click on the marker you are interested in and the related charts will appear!
      </h4>
    </div>

    <div class="body">
      <app-map (clicked)="setDevice($event)"></app-map>
    </div>

    <iframe class="tempChart" [frameBorder]="0" [src]="tempSrc"></iframe>
    <iframe class="humidityChart" [frameBorder]="0" [src]="humSrc"></iframe>
    <iframe class="airPressureChart" [frameBorder]="0" [src]="pressureSrc"></iframe>
    <iframe class="particleDensity" [frameBorder]="0" [src]="densitySrc"></iframe>
  </div>
</div>
