.chart-container {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 30px;
}

.chart-frame {
  margin-top: 5em;
  //border: 2px solid black;
  height: 100%;
  width: 30%;
}

#chart {
  height: 100%;
}
:host ::ng-deep canvas {
  font-size: 17px;
}
